extends base
block title
  title= page.title + ' - ' + config.title
block content
  .post
    p(class="count" style="text-align: center;font-size: 16px;")
    br
    div.tagss
      != page.content
        != tagcloud({min_font: 18, max_font: 28, amount: 80})
    script(src="http://7.url.cn/edu/jslib/comb/require-2.1.6,jquery-1.9.1.min.js")
    p(id="count")
      span.
       目前共计 <script>document.write($(".tagss > a").length)</script> 个标签
    script.
      $('#count').appendTo('.count');
  if page.comments
    include _partial/comments
