if theme.amazon_id
  iframe(src='http://rcm-cn.amazon-adsystem.com/e/cm?t=#{theme.amazon_id}&o=28&p=13&l=ez&f=ifr&f=ifr', width='468', height='60', scrolling='no', marginwidth='0', marginheight='0', border='0', frameborder='0', style='border:none;max-width:900px;max-height:600px;padding-bottom:20px;')
