#footer= 'Copyright © 2017 '
  a(href=url_for('.'), rel='nofollow')= config.title + ' All rights reserved'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/Hscpro/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.
  </br>
  <i class="fa fa-sitemap"></i>
  a(target='_blank', href='/sitemap.xml')  Sitemap. 
  <i class="fa fa-paw"></i>
  a(target='_blank', href='/baidusitemap.xml')  Baidumap. 
  <i class="fa fa-github"></i>
  a(rel='nofollow', target='_blank', href='https://github.com/hscpro')  Github. 
  <i class="fa fa-rss"></i>
  a(target='_blank', href='/atom.xml')  Really Simple Syndication.
