if theme.google_hub
  script(type='text/javascript', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async)
  ins(class='adsbygoogle', style='display:block', data-ad-client='ca-#{theme.google_hub}', data-ad-slot='#{theme.google_ad_slot}', data-ad-format='auto')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({})
